doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    title Andrew Trieu Dinh
    link(rel='stylesheet', href='/vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='/vendor/materialize/dist/css/materialize.min.css', media='screen,projection')
    //- link(rel='stylesheet', type='text/css', href='/vendor/materialize/templates/parallax-template/css/style.css', media='screen,projection')
    link(rel='stylesheet', href=isProd ? '/index.min.css' : '/index.css')
    link(rel='shortcut icon', href='/favicon.ico')
  body
    nav.white.lighten-5.accent-1(role='navigation')
      .nav-wrapper.container
        a#logo-container.brand-logo.right
          img(src='/assets/ALogo.png')
    #index-banner.parallax-container
      .section.no-pad-bot
        .container
          h2.header.right Andrew Trieu Dinh
          .row
            .col.s12: h5.header.right A Mongo Hapi Angular Node Full Stack Web Dev
      .parallax
        img(src='/assets/GG.jpg', alt='Golden Gate Bridge')
    .container
      .section
        .row
          .col.s12.m12.center: h4 Portfolio
      .section
        .row
          .col.s12.m4
            .outerContainer
              .flipper
                figure.front.z-depth-4.center
                  img.cards(src='/assets/calculator.png')
                figure.back.z-depth-4.center
                  p This is one of my first projects using HTML, CSS, and jQuery.  It was completed in one night.
                  p.cardLink: a(href='http://calculator.andrewtdinh.com') Click me to access the project &#x261A;
          .col.s12.m4
            .outerContainer
              .flipper
                figure.front.z-depth-4.center
                  img.cards(src='/assets/checkers.png')
                figure.back.z-depth-4.center
                  p Another one of my earlier projects using HTML, CSS, and jQuery.  It was also completed in one night but I had to modify it a little later.
                  p.cardLink: a(href='http://checkers.andrewtdinh.com') Click me to access the project &#x261A;
          .col.s12.m4
            .outerContainer
              .flipper
                figure.front.z-depth-4.center
                  img.cards(src='/assets/calculator.png')
                figure.back.z-depth-4.center
                  p This was one of my first project using HTML, CSS, and jQuery.  It was completed in one night.
                  p.cardLink: a(href='http://calculator.andrewtdinh.com') Click me to access the project &#x261A;
    .parallax-container.valign-wrapper
      .section.no-pad-bot
        .container
          .row.center
            h5.header.col.s12.light A modern responsive front-end framework based on Material Design
      .parallax
        img(src='/assets/RuongThang.jpg', alt='Rice Fields of Viet Nam')
    .container
      .section
        .row
          .col.s12.center
            h3
              i.mdi-content-send.brown-text
            h4 Contact Us
            p.left-align.light
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
    .parallax-container.valign-wrapper
      .section.no-pad-bot
        .container
          .row.center
            h5.header.col.s12.light A modern responsive front-end framework based on Material Design
      .parallax
        img(src='/assets/HoHoanKiem.jpg', alt='Unsplashed background img 3')
    footer.page-footer.teal
      .container
        .row
          .col.l6.s12
            h5.white-text Company Bio
            p.grey-text.text-lighten-4
              | We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.
          .col.l3.s12
            h5.white-text Settings
            ul
              li
                a.white-text(href='#!') Link 1
              li
                a.white-text(href='#!') Link 2
              li
                a.white-text(href='#!') Link 3
              li
                a.white-text(href='#!') Link 4
          .col.l3.s12
            h5.white-text Connect
            ul
              li
                a.white-text(href='#!') Link 1
              li
                a.white-text(href='#!') Link 2
              li
                a.white-text(href='#!') Link 3
              li
                a.white-text(href='#!') Link 4
      .footer-copyright
        .container
          | Made by 
          a.brown-text.text-lighten-3(href='http://materializecss.com') Materialize
    script(src='/vendor/jquery/dist/jquery.min.js')
    script(type='text/javascript', src='/vendor/materialize/dist/js/materialize.min.js')
    script(src='/vendor/materialize/templates/parallax-template/js/init.js')
    script(src='/vendor/angular/angular.min.js')
    script(src='/vendor/angular-ui-router/release/angular-ui-router.min.js')
    script(src=isProd ? '/index.min.js' : '/index.js')
