doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    title Andrew Trieu Dinh Portfolio
    link(rel='stylesheet', href='/vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='/vendor/materialize/dist/css/materialize.min.css', media='screen,projection')
    //- link(rel='stylesheet', type='text/css', href='/vendor/materialize/templates/parallax-template/css/style.css', media='screen,projection')
    link(rel='stylesheet', href=isProd ? '/index.min.css' : '/index.css')
    link(rel='shortcut icon', href='/favicon.ico')
  body
    nav.white.lighten-5.accent-1(role='navigation')
      .nav-wrapper.container
        a#logo-container.brand-logo.right
          img(src='/assets/ALogo.png')
    #index-banner.parallax-container
      .section.no-pad-bot
        .container
          #nameContainer.right
            h2#firstName.right Andrew
            h4#fullName Trieu Dinh
          //- h2.header.right#fullName Andrew Trieu Dinh
          .row
            .col.s12: h4.header.right.tag Mongo Hapi
            .col.s12: h5.header.right.tag Angular Node
            .col.s12: h5.header.right.tag Full Stack Web Dev
      .parallax
        img(src='/assets/GG.jpg', alt='Golden Gate Bridge')
    .container
      .section
        .row
          .col.s12.m12.center: h5.i.mdi-action-thumb-up.brown-text 
            h4 Portfolio
      .section
        .row
          .col.s12.m4
            .outerContainer
              .flipper
                figure.front.z-depth-4.center
                  img.cards(src='/assets/memory.png')
                figure.back.z-depth-4.center
                  h5 Memory Game
                  p A version of the original memory game where users have 60 seconds to match all hidden fruit pairs.  This project was done using HTML, CSS, Javascript, and jQuery. 
                  p.cardLink: a(href='http://memory.andrewtdinh.com') Click me to access the project &#x261A;
            br
            .outerContainer
              .flipper
                figure.front.z-depth-4.center
                  img.cards(src='/assets/calculator.png')
                figure.back.z-depth-4.center
                  h5 I'm Maculator
                  p This is an online calculator that imitates the calculator that comes with the Mac OS.  It is one of my first projects done using HTML, CSS, Javascript, and jQuery. 
                  p.cardLink: a(href='http://calculator.andrewtdinh.com') Click me to access the project &#x261A;
          .col.s12.m4
            .outerContainer
              .flipper
                figure.front.z-depth-4.center
                  img.cards(src='/assets/checkers.png')
                figure.back.z-depth-4.center
                  h5 Alien Checkers
                  p My version of checkers.  It is another one of my earlier projects that illustrates the use of HTML, CSS, Javascript, and jQuery. 
                  p.cardLink: a(href='http://checkers.andrewtdinh.com') Click me to access the project &#x261A;
          .col.s12.m4
            .outerContainer
              .flipper
                figure.front.z-depth-4.center
                  img.cards(src='/assets/towers.png')
                figure.back.z-depth-4.center
                  h5 Leaning Towers of Donuts
                  p  A spin on the Hanoi Towers game.  It is another project that uses HTML, CSS, Javascript, and jQuery.
                  p.cardLink: a(href='http://hanoitowers.andrewtdinh.com') Click me to access the project &#x261A;
    .parallax-container.valign-wrapper
      .section.no-pad-bot
      .parallax
        img(src='/assets/RuongThang.jpg', alt='Rice Fields of Viet Nam')
    .container
      .section
        .row
          .col.s12.center
            h4
              i.mdi-social-person.brown-text
            h4 About Me
            p.left-align.light
              | I am a quality-conscious full stack web developer.  Previous to my coding-bootcamp training in the Javascript web development stack, I worked as a software quality engineer for more than six years, some of those years were spent doing automation script development.  I left my quality engineer position at Intel to pursue my passion for development.
              br
              br
              | As a web developer, I have worked with Angular, Hapi, Node, MongoDB and other supporting technologies such as HTML5, CSS, jQuery, Git, Firebase, Travis, Mongoose, Sinon, Mocha, Chai, etc..   
    .parallax-container.valign-wrapper
      .section.no-pad-bot
      .parallax
        img(src='/assets/HoHoanKiem.jpg', alt='Unsplashed background img 3')
    footer.page-footer.teal
      .container
        .row
          .col.l6.s12
            h5.white-text Company Bio
            p.grey-text.text-lighten-4
              | We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.
          .col.l3.s12
            h5.white-text Settings
            ul
              li
                a.white-text(href='#!') Link 1
              li
                a.white-text(href='#!') Link 2
              li
                a.white-text(href='#!') Link 3
              li
                a.white-text(href='#!') Link 4
          .col.l3.s12
            h5.white-text Connect
            ul
              li
                a.white-text(href='#!') Link 1
              li
                a.white-text(href='#!') Link 2
              li
                a.white-text(href='#!') Link 3
              li
                a.white-text(href='#!') Link 4
      .footer-copyright
        .container
          | Made with passion by  
          a.brown-text.text-lighten-3(href='http://andrewtdinh.com') Andrew Trieu Dinh
    script(src='/vendor/jquery/dist/jquery.min.js')
    script(type='text/javascript', src='/vendor/materialize/dist/js/materialize.min.js')
    script(src='/vendor/materialize/templates/parallax-template/js/init.js')
    script(src='/vendor/angular/angular.min.js')
    script(src='/vendor/angular-ui-router/release/angular-ui-router.min.js')
    script(src=isProd ? '/index.min.js' : '/index.js')
