@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(http://fonts.googleapis.com/css?family=Merriweather);

h2, h4, h5 {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
}

nav ul a, nav .brand-logo{
  color: #444;
}

#logo-container img {
  height: 90px;
}

.header {
  padding-bottom: 20 px;
  color: #2B1569;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 400px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}
.cards{
  height: 100%;
  width: 100%;
  // padding: 0 15px;
  // background-image: src('/assets/calc.png');
}

.icon-block {
  padding: 0 15px;
}

footer.page-footer {
  margin: 0;
}

// .cardContainer{
//   position: relative;
//   perspective: 800px;
// }
//
// .card {
//   width: 100%;
//   height: 100%;
//   position: absolute;
//   transform-style: preserve-3d;
//   transition: transform 1s;
// }

// figure {
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   // backface-visibility: hidden;
// }

// .cardFront {
//   background: green;
//   backface-visibility: hidden;
// }
//
// .cardBack {
//   background: blue;
//   transform: rotateY(180deg);
//   backface-visibility: hidden;
// }
//
// .card.flipped {
//   transform: rotateY(180deg);
// }

// Testing
.outerContainer {
  width: 100%;
  height: 300px;
  position: relative;
  perspective: 800px;
}

.flipper {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.flipper figure {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 3%;
  padding: 3%;
}

.flipper .front {
  margin-left: -15%;
  background: #2B3E50;
  margin-left: 0px;
}

.flipper .back {
  // background: #009688;
  transform: rotateY(180deg);
  margin-left: 0px;
}

.flipper.flipped {
  transform: rotateY(180deg);
}

.cardLink {
  position: absolute;
  bottom: 5%;
  left: 9%;
}

#name, #nameContainer {
  position: relative;
  color: #2B1569;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  #firstName{
    position: relative;
    top: -2.4vh;
  }
  #fullName{
    position: relative;
    top: -6.6vh;
    font-family: 'Merriweather', serif;
    font-weight: 100;
    color: #F5F7FB;
  }
}
